@page
@model MyGymProject.Client.Pages.AllSessionBookingModel
@{
    ViewData["Title"] = "Тренировки";
}


<div class="container-fluid p-0">
    <div class="row">
        <!-- Боковое меню -->
        <partial name="_ClientSidebar.cshtml" />

        <!-- Основной контент -->
        <div class="col-md-10 col-lg-10 p-4">
            <div class="col-md-10 d-flex flex-column justify-content-center">
                <p class="text-muted">Мы рады видеть вас снова в нашем клубе 🐾</p>
            </div>
        </div>
    </div>
</div>