@page
@model MyGymProject.Client.Pages.RegistrationModel
@{
    ViewData["Title"] = "Registration";
}

<div class="container col-4">
    <form method="post">
        <div class="text-center mb-3">
            <h1 class="display-4 justify-content-center">Регистрация</h1>
        </div>
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Введите имя</label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Имя">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="BirthDate" class="form-label">Введите дату рождения</label>
            <input asp-for="BirthDate" type="date" class="form-control">
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Phone" class="form-label">Введите номер телефона</label>
            <input asp-for="Phone" type="tel" class="form-control" placeholder="Номер телефона">
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Введите email</label>
            <input asp-for="Email" type="email" class="form-control" placeholder="email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Gender" class="form-label">Укажите пол</label>
            <select asp-for="Gender" class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option value="">Выберите пол</option>
                <option value="Мужской">Мужской</option>
                <option value="Женский">Женский</option>
            </select>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Login" class="form-label">Введите логин</label>
            <input asp-for="Login" type="text" class="form-control" placeholder="Придумайте логин">
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label">Пароль</label>
            <input asp-for="Password" type="password" class="form-control" placeholder="Придумайте пароль">
            <span asp-validation-for="Password" class="text-danger"></span>
            <div id="passwordHelpBlock" class="form-text">
                Ваш пароль должен быть длиной от 8 до 20 символов, содержать буквы и цифры и не должен содержать пробелов, специальных символов или эмодзи.
            </div>
        </div>
        <div class="text-center mb-3">
            <button type="submit" class="btn btn-dark">Зарегистрироваться</button>
        </div>
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger">@Model.ErrorMessage</div>
        }
    </form>
</div>
